---
import Hero from '../components/Hero/Hero.astro';
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Gamechanger</title>
  </head>
  <body>
    <Hero />
  </body>
</html>
